<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>岗位类型</key>
	<dict>
		<key>IT互联网</key>
		<array>
			<string>UI设计师</string>
			<string>JAVA开发</string>
			<string>Android开发</string>
			<string>iOS开发</string>
			<string>PHP开发</string>
			<string>前端开发</string>
			<string>产品经理/开发</string>
			<string>产品运营</string>
			<string>市场推广</string>
		</array>
		<key>金融</key>
		<array>
			<string>会计</string>
			<string>财务实习</string>
		</array>
		<key>材料能源</key>
		<array>
			<string>水泥批发</string>
			<string>太阳能</string>
			<string>电能</string>
		</array>
		<key>礼仪服务</key>
		<array>
			<string>礼仪</string>
		</array>
		<key>媒体传播</key>
		<array>
			<string>传单</string>
		</array>
		<key>建筑工程</key>
		<array>
			<string>建筑</string>
		</array>
		<key>家政服务</key>
		<array>
			<string>家洁</string>
			<string>家政</string>
		</array>
		<key>销售</key>
		<array>
			<string>销售</string>
		</array>
	</dict>
	<key>地理位置</key>
	<dict>
		<key>北京</key>
		<array>
			<string>海淀区</string>
			<string>昌平区</string>
			<string>东城区</string>
			<string>西城区</string>
			<string>通州区</string>
			<string>朝阳区</string>
			<string>丰台区</string>
			<string>崇文区</string>
			<string>宣武区</string>
			<string>石景山区</string>
			<string>门头沟区</string>
			<string>房山区</string>
			<string>顺义区</string>
			<string>大兴区</string>
			<string>怀柔区</string>
			<string>平谷区</string>
			<string>延庆县</string>
			<string>密云县</string>
		</array>
	</dict>
	<key>综合筛选</key>
	<dict>
		<key>结算方式</key>
		<array>
			<string>时</string>
			<string>日</string>
			<string>周</string>
			<string>月</string>
			<string>年</string>
		</array>
		<key>招聘数量</key>
		<array/>
		<key>提供住宿</key>
		<array>
			<string>是</string>
			<string>否</string>
		</array>
		<key>提供用餐</key>
		<array>
			<string>是</string>
			<string>否</string>
		</array>
	</dict>
</dict>
</plist>
